BROKER=fdr
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_ID=
TELEGRAM_AUTH_KEY=
TOSS_APPKEY=
TOSS_SECRETKEY=
TOSS_MOCK=true
ETF_SYMBOL=360750
ETF_NAME=TIGER 미국S&P500
BASE_BUDGET=1000000
TACTICAL_BUDGET=500000
CYCLE_DAY=21
HOLIDAY_POLICY=next_business_day
APPROVAL_MAX_PRICE_DRIFT_PCT=0.3
DAILY_MAX_ORDER_AMOUNT=300000
